@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");* 

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0D1117;
  color: #C9D1D9;
  box-sizing: border-box; 
}

* {
  box-sizing: inherit; 
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #161B22;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

nav a {
  color: #C9D1D9;
  text-decoration: none;
  font-weight: bold;
}

#home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px 50px;
  margin-top: 60px; 
  height: 770px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}
.about{
  font-size: 16px;
}
.intro {
  max-width: 50%;
}

.intro h1, .intro h2, .intro h3 {
  margin: 0;
}

.highlight {
  color: #0D6EFD;
}

p {
  margin: 20px 0;
  max-width: 600px;
}
#contact-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #0D6EFD;
  background-color: #161B22;
  border: 2px solid #0D6EFD;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}.fab {
  color: #0D6EFD; 
  font-size: 34px; 
}
.icons{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 40px;
}



.btn:hover {
  background-color: #0D6EFD;
  color: #161B22;
}

.photo img {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  object-fit: cover;
  box-shadow: 0 0 30px #0D6EFD;
}

/* About Section */
#about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  background-color: #161B22;
  height: 830px;
  font-family: "Poppins", sans-serif;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* max-width: 1000px; */
  width: 100%;
}

.about-photo img {
  border-radius: 50%;
  width: 450px;
  height: 450px;
  object-fit: cover;
  box-shadow: 0 0 30px #0D6EFD;
}

.about-content {
  max-width: 60%;
}

.about-content h2, .about-content h3 {
  margin: 0;
}

.about-content p {
  margin: 20px 0;
}

.sklill-button {
  display: inline-block;
  padding: 10px 20px;
  color: #0D6EFD;
  background-color: #161B22;
  border: 2px solid #0D6EFD;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin-top: 100px;
  transition: background-color 0.3s, color 0.3s;
} 

/* Contact Section Styles */
#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0D1117;
  padding: 20px;
  box-sizing: border-box;
}

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.contact-form, .additional-contact-info {
  padding: 20px;
  width: 50%;
}

.contact-form {
  border-right: 1px solid #e0e0e0;
  background-color: #161B22;
}
.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
  text-align: center;
  align-items: center;
}
.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: black;
  background: #f9f9f9;
  transition: border-color 0.3s;
}
.contact-form input:focus, .contact-form textarea:focus {
  border-color: #66afe9;
  outline: none;
}

.contact-form button {
  width: 30%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #1e6cd9;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background: #3216d2;
}

.additional-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  font-size: 20px;
  color: #faf5f5;
}

.additional-contact-info p {
  margin-bottom: 10px;
}

.additional-contact-info a {
  color: #3216d2;
  text-decoration: none;
  transition: color 0.3s;
}

.additional-contact-info a:hover {
  color: #4cae4c;
}
.section-title {
  margin-left: 600px;
  font-size: 50px;
}

.skills-container {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  font-size: 20px;
  background-color: #0D1117;
  height: 830px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* height: auto;  */
}

.skill {
  margin: 10px;
  padding: 15px; 
  background-color: #0D6EFD;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  box-shadow: 10px 7px 20px hsl(240, 100%, 50%);
}

.skill i {
  margin-right: 5px;
  background-color: #161B22;
}
.social-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-links a {
  color: white;
  text-decoration: none;
}

.social-links a:hover {
  opacity: 0.7;
}
 #projects {
  font-family: Arial, sans-serif;
  background-color: #161B22;
  color: #fff;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;

}
.feature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feature {
  background-color: #0D1117;
  border-radius: 10px;
  padding: 20px;
  height: 350px;
  max-width: 400px;
  margin: 10px;
  /* width: calc(33% - 20px); */
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 10px 7px 20px hsl(240, 100%, 50%);
}
.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.feature-title {
  font-size: 18px;
  font-weight: bold;
}
.feature-text {
  font-size: 14px;
}
.feature-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.feature:hover .feature-details {
  opacity: 1;
}
.feature-details a {
  color: #4e7efc;
  text-decoration: none;
  margin-top: 10px;
}
.feature img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.icon-blue { background-color: #3216d2; }
.icon-purple { background-color: #edebf0; }
.icon-orange { background-color: #3216d2; }



/* Footer Styles */
.footer {
  background: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  font-weight: bolder;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}
.footer-section-links{
  display: flex;
  flex-direction: column;
}
.footer-section p, .footer-section a {
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  color: #4cae4c;
}

.social-media {
  list-style: none;
  padding: 0;
}

.social-media li {
  margin-bottom: 10px;
}

.social-media a {
  color: #5cb85c;
  text-decoration: none;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #4cae4c;
}
